<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Node Api Auth with JWT</h2>
    <h3>Available endpoints:</h3>
    <h3>POST Method:</h3>
    <h4>https://node-api-auth-jwt.onrender.com/api/user/register</h4>
    <h4>https://node-api-auth-jwt.onrender.com/api/user/login</h4>
    <h3>GET Method:</h3>
    <h4>https://node-api-auth-jwt.onrender.com/api/posts</h4>
  </body>
</html>
